URxvt*font: xft:DejaVu Sans Mono for Powerline-14
URxvt*scrollBar: False

URxvt*background: #1b1b1b
URxvt*foreground: #cccaca

!URxvt*inheritPixmap: true
URxvt*transparent: true
URxvt*shading: 30

! main color black
URxvt*color0: #171717

! command unknown (urxvt)
URxvt*color1: #CC0000
! command known (urxvt) + second line (powerline) when stage clear (urxvt/git)
URxvt*color2: #1ECC00
! second line (powerline) when stage unclear (urxvt/git)
URxvt*color3: #F7D826
! first line (powerline)
URxvt*color4: #493CAB
! donnnoo
URxvt*color5: #89203b
! parentesis (vim)
URxvt*color6: #3C00D2
! border (vifm)
URxvt*color7: #f9f7ff
! command hint (urxvt) + title text (vifm)
URxvt*color8: #184F4A
! executable soft link (urxvt)
URxvt*color9: #7d001a
! executable files (urxvt)
URxvt*color10: #626395
! left row numbers (vim)
URxvt*color11: #5ba9ff
! directory (urxvt)
URxvt*color12: #297452
! variable value on code (vim)
URxvt*color13: #198580
! directory (vifm) + comment on code (vim) + soft link file text (urxvt)
URxvt*color14: #e69c24

! main color white
URxvt*color15: #ffffff

! ----------------------------------
! urxvt extentions
! ----------------------------------
URxvt.perl-ext-common:	default,font-size,url-select

URxvt.keysym.Control-Shift-K:   perl:font-size:incglobal
URxvt.keysym.Control-Shift-J: perl:font-size:decglobal
URxvt.keysym.Control-Shift-D:  perl:font-size:reset
URxvt.keysym.Control-Shift-S:  perl:font-size:show

! disable the ctrl+shift keycap picture
URxvt.iso14755: false
URxvt.iso14755_52: false

! ctrl+shift+c/v command copy paste
URxvt.keysym.Control-Shift-C: eval:selection_to_clipboard
URxvt.keysym.Control-Shift-V: eval:paste_clipboard
URxvt.url-select.autocopy: true
URxvt.url-select.launcher: firefox
URxvt.url-select.underline: true

