"*":
  core:
    disabledPackages: [
      "welcome"
      "styleguide"
      "spell-check"
      "metrics"
      "feedback"
    ]
    ignoredNames: [
      "*.pyc"
      "*.*~"
    ]
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  editor:
    fontSize: 20
    preferredLineLength: 80
    scrollSensitivity: 60
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "55820ee7-555a-4b45-bde6-be9955eff0a9"
  linter:
    showStatusBarWhenCursorIsInErrorRange: true
  "linter-flake8":
    flakeErrors: true
    maxLineLength: 80
  "linter-pep8":
    ignoreErrorCodes: [
      "W0232"
    ]
  metrics: false
  "tree-view":
    showOnRightSide: true
  welcome:
    showOnStartup: false
